.news-and-events-section>.row
{
  @include media-breakpoint-down(md) { 
    margin-left:0;
    margin-right:0;
  }
}
.card {
  margin-left: 3px;
  text-align: left;
  .card-image {
    img {
      width: 100%;
      min-height: 180px;
      max-height: 250px;
      object-fit: cover;
      object-position: 50% 40%;
    }
  }
  .card-body {
    padding: 10px;

    .card-title {
      font-size: 18px;
      font-weight: 500;
      color: $sb-link-color;
      margin-bottom: 5px;
      line-height: 22px;
      a,
      a:hover {
        text-decoration: none;
        border: 0;
      }
    }
    .card-subheader{
      font-size: 12px;
      margin-bottom: 10px;
      a {
        text-decoration: none;
        border-bottom: 0;
      }
    }
    .card-text {
      font-size: 14px;
      overflow: hidden;
    }
  }
}
.event.card {

  .event-date {
    position: absolute;
    border: solid 2px $brand-primary;
    background-color: $sb-main-background-color;
    font-size: 18px;
    color: $brand-primary;
    top: 10px;
    left: -10px;
    padding: 5px;
  }
  .event-date::after{
    content: '';
    position: absolute;
    left: -2px;
    bottom: -12px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-top: 10px solid $brand-primary;
    clear: both;
  }

}



@include media-breakpoint-down(xs) {
  .card-columns {
    column-count: 1;
    column-gap: $card-columns-sm-up-column-gap;
  }
}
@include media-breakpoint-up(sm) {
  .card-columns {
    column-count: 2;
    column-gap: $card-columns-sm-up-column-gap;
  }
}
@include media-breakpoint-up(md) {
  .card-columns {
    column-count: 3;
    column-gap: $card-columns-sm-up-column-gap;
  }
}
@include media-breakpoint-up(xl) {
  .card-columns {
    column-count: 4;
    /*column-gap: $card-columns-lg-up-column-gap;*/
  }
}