<div id="findmap">
  <p class="locations-count">
    Available at <strong>{{googleMapsService.sellerLocations.length || '[loading...]'}}</strong> locations in 
    <a href="#" ng-click="newCountryClickedOnMap(52.3665982, 4.8851904, 7, $event)" class="country">The Netherlands</a>, 
    <a href="#/" ng-click="newCountryClickedOnMap(50.9876257,8.889455, 6, $event)" class="country">Germany</a>, 
    <a href="#/" ng-click="newCountryClickedOnMap(42.6448224,11.5055115, 6, $event)" class="country">Italy</a>, and 
    <a href="#/" ng-click="newCountryClickedOnMap(47.183159,1.7316718, 6, $event)" class="country">France</a>.
  </p>
  <p class="buy-from-websites">You can find some of our beers, posters, and glasses online at
    <a href="http://www.bierboetiek.nl/shop/brouwerij-the-sisters-brewery-utrecht-breukelen-speciaalbier" target="_blank">Bierboetiek</a>,
    <a href="https://bierhut.com/brouwer/the-sisters-brewery.html" target="_blank">Bierhut</a>,
    <a href="https://www.buurtbier.nl/" target="_blank">BuurtBier</a>, and
    <a href="http://www.speciaalbierpakket.nl/website/index.php?Show=Search&KeyWord=the%20sisters" target="_blank">Speciaalbierpakket</a>!
  </p>

  <div id="map">
    <div class="subtitle" ng-hide="googleMapsService.googleLoaded">Loading Google Maps...</div>
  </div>

</div>
<!--zoom="14" center="[52.3665982, 4.8851904]-->