<div class="col-xs-12" ng-class="eventsColClasses()"><div class="event card">
	<div class="event-date">
		{{event.start_time | date}}
	</div>
	<div class="card-image">
		<!--       <img class="card-img-top" src="https://unsplash.it/330/?random"> -->
		<a href="https://www.facebook.com/events/{{event.id}}" target="_blank">
			<img class="card-img-top" ng-src="{{event.cover.source?event.cover.source:'http://madmaxlax.com/sites/sistersbrewing/imgs/logo.png'}}">
		</a>
	</div>
	<div class="card-body">
		<div class="card-title">
			<a href="https://www.facebook.com/events/{{event.id}}" target="_blank">{{event.name}}</a>
		</div>
		<div class="card-subheader">
			{{event.start_time | date}}
			<span ng-if="event.place.location.city && event.place.location.country" >
			|
			{{event.place.location.city}}, {{event.place.location.country}}
			</span>
			<span ng-if="event.place.location" >
				|
				<a class="" href="#FindUs"ng-click="googleMapsService.showInfoWindow(event.infoWindow, event.marker);linkTo('map', $event)">
					<i class="fa fa-map-marker"></i> Show on map
				</a>
			</span>
		</div>
		<div class="card-text">{{event.description | limitTo:200}}... <span ng-show="googleMapsService.events.length===0">No upcoming events at this time!</span><a href="https://www.facebook.com/events/{{event.id}}" target="_blank"> View event on Facebook</a></div>
		<div class="clearfix"></div>
	</div>
</div>
</div>