//variables and overrides, with sass this needs to happen before the import

$sb-main-background-color: white;//#f4f7f8; //kinda bluish white
$body-bg: $sb-main-background-color; //override bootstrap
$sb-alt-background: f5f0e7;//yellowish grey

$sb-main-text-color: black; 
$body-color:$sb-main-text-color; // override bootstrap

$sb-link-color: #0c8fb9; //bluish
$brand-primary: $sb-link-color;

$sb-footer-background-color: #ffd590; //yellow orange
$sb-logo-font: 'Old Standard TT', serif;

$sb-main-font: 'Raleway', sans-serif;
$font-family-base: $sb-main-font;//override bootstrap

//grab actual bootstrap files
@import "scss/bootstrap";
@import "posts.scss";
@import "beers.scss";
@import "hex.scss";

//site-specific classes
/* 
@font-face {
  font-family: 'Modern20BT-RomanB';
  font-style: normal;
  font-weight: 400;
  src: local('Modern20BT-RomanB'), local('Modern20BT-RomanB-Regular'), 
  url(./styles/fonts/ufonts.com_modern20bt-romanb-opentype.otf) format('opentype'), 
  url(./styles/fonts/Modern20BTRoman.ttf) format('truetype');
  
} */
.logo-text{
  font-family: $sb-logo-font;
}

.secondary-color{
  color: $brand-primary;
}

.alt-background-color{
  background-color: $sb-alt-background;
}

.nav-link{
  color: $sb-main-text-color;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

.header-text{
  text-align: center;
  min-width: 90%;
  margin: 0 auto 0 auto;
}

.footer {
    background-color: $sb-footer-background-color;
}
.news-and-events-section a, .footer a {
  text-decoration: underline;
  
  &:hover{
    text-decoration:none;
  }
}
.beer-hexes
{
  .beer-hex{
/*     display: inline; */
  }
  .beer-hex-hi{
/*     margin-top: -10px */
  }
  .beer-hex-lo{
/*     margin-top: 10px */
  }
}



//stuff for testing site
iframe{
  border:0;
}
//small change

.content-body
{
  padding-top:54px;
}
.post h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event p{
  max-height:200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.ng-move,
.ng-enter,
.ng-leave {
  transition:all ease 0.5s;
}

.ng-leave.ng-leave-active,
.ng-move,
.ng-enter {
  opacity:0;
  max-height:0;
}

.ng-leave,
.ng-move.ng-move-active,
.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}
