//variables and overrides, with sass this needs to happen before the import

$sb-main-background-color: #fff;//#f4f7f8; //kinda bluish white
$body-bg: $sb-main-background-color; //override bootstrap
$sb-alt-background: #f5f0e7;//yellowish grey

$sb-main-text-color: #333;
$body-color:$sb-main-text-color; // override bootstrap

$sb-link-color: #D32F2F; //red
$brand-primary: $sb-link-color;

$sb-footer-background-color: #ffd590; //yellow orange
$sb-logo-font: 'Old Standard TT', serif;
$header-font: $sb-logo-font;

$sb-main-font: 'Raleway', sans-serif;
$font-family-base: $sb-main-font;//override bootstrap

//grab actual bootstrap files
@import "scss/bootstrap";
@import "posts.scss";
@import "hex.scss";
@import "beerdetail.scss";
@import "map.scss";
@import "menuanimation.scss";
@import "slick.scss";
@import "slick-theme.scss";

//site-specific classes
/*
@font-face {
  font-family: 'Modern20BT-RomanB';
  font-style: normal;
  font-weight: 400;
  src: local('Modern20BT-RomanB'), local('Modern20BT-RomanB-Regular'),
  url(./styles/fonts/ufonts.com_modern20bt-romanb-opentype.otf) format('opentype'),
  url(./styles/fonts/Modern20BTRoman.ttf) format('truetype');
} */

body {
  position: relative;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  margin-top: 1rem;
}
h1 {
  font-size: 3.5em;
}
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2.75em;
  text-align: center;
}
div.main-content{
  padding-top: 125px
}
p {
  font-size: 14px;
}
.subtitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

/* LOADER  */
.loader{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}
#loader-1:before, #loader-1:after{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: $sb-link-color;
}
#loader-1:before{
  z-index: 100;
  animation: spin 1s infinite;
}
#loader-1:after{
  border: 10px solid #ccc;
}
@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* END LOADER  */

.header.navbar {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  background-color:$sb-main-background-color;
  .logo {
    height: 55px;
    @include media-breakpoint-up(md) { 
      height: 75px;
    }
  }
  .navbar-nav {
    margin-top: 23px;
    @include media-breakpoint-up(md) { 
      float: right;
    }
  }
  button.navbar-toggler{
    margin-top:.1rem;
    font-size: 2.25rem;
  }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
    @include media-breakpoint-up(sm) { 
      margin-left: 2rem;
    }
  }
  
  @include media-breakpoint-down(md) { 
  .collapsing,.collapse.in{
    ul.navbar-nav
    { 
      // clear: both;
      margin: 0;
      .nav-item
      {
        // display: block;
        margin: 10px auto;
        float: none;
        // clear: both;
        text-align: center;
      }
    }
  }
  }
  .active {
    color:$sb-link-color;
  }
}

.secondary-color{
  color: $brand-primary;
}

.alt-background-color{
  background-color: $sb-alt-background;
}

.nav-link{
  color: $sb-main-text-color;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

.header-text{
  text-align: center;
  min-width: 90%;
  margin: 50px auto 50px;
  .logo {
    height: 150px;
  }
  p {
    font-size: 18px;
  }
}

.section {
  padding-top: 25px;
  padding-bottom: 25px;
  &.beer-section {
    padding: 25px 0 25px 0;
    transition: background-color 0.5s ease;
  }
}

.beer-section {
  text-align: center;
  .beer-info {
    text-align: left;
  }
}

.find-us-section{
  padding: 20px 0 0 0;
  h2 {
    margin-bottom: 10px;
  }
}
.news-and-events-section {
  height: 100%;
  position: relative;
  text-align: center;
  background-color: $sb-alt-background;
  margin-top: 0px; //to ignore white space between map
  .news-section {
    margin-top: 40px;
  }
}

.footer-container {
  background-color: $sb-alt-background;
}

.footer {
  padding: 2rem;
  .footer-logo img {
    width: 75%;
    margin-bottom: 20px;
  }
  .footer-social-links {
    text-align:right;
    a {
      border-bottom: 0;
      font-size: 22px;
      background-color: $sb-link-color;
      color: #fff;
      border-radius: 50px;
      padding: 10px 17px;
      margin: 0 5px;
      &:hover {
        color: #fff;
        background-color: #962020;
      }
      &.spotify {
        padding: 10px 14px;
      }
      &.untappd {
        padding: 10px;
        img{
          margin-top: -6px;
        }
      }
    }
  }
}
.news-and-events-section a, .footer a {
  border-bottom: 1px solid;
  &:hover {
    text-decoration: none;
  }
}

.about-us-section {
  .photo{
    text-align: right;
    img {
      width: 100%;
      max-width: 461px;
      margin-bottom: 10px;
    }
  }
}

@include media-breakpoint-down(md) {
  .about-us-section {
    .photo{
      text-align: center;
    }
  }
  .description {
    padding: 0 30px;
  }
}

//stuff for testing site
iframe{
  border:0;
}
//small change

.content-body
{
  padding-top:54px;
}
.post h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event p{
  max-height:200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-and-events-section{
  .ng-move,
  .ng-enter,
  .ng-leave {
    transition:all ease 0.5s;
  }

  .ng-leave.ng-leave-active,
  .ng-move,
  .ng-enter {
    opacity:0;
    max-height:0;
  }

  .ng-leave,
  .ng-move.ng-move-active,
  .ng-enter.ng-enter-active {
    opacity:1;
    max-height:30px;
  }
}
