@import "scss/bootstrap";

iframe{
  border:0;
}

.footer {
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    a {
      color: #337ab7;
    }
    .footer-link
    {
      text-align:right;
    }
}

.event p{
  max-height:200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}